{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
<link type="text/css" rel="stylesheet" href="{% static 'css/mstepper.css' %}" media="screen,projection">
<link type="text/css" rel="stylesheet" href="{% static 'css/prism.css' %}" media="screen,projection">
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      media="screen,projection">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/mstepper.min.js' %}"></script>
<script src="{% static 'js/mstepper.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/buttons.print.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>