{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<style type="text/css">
    .btn,
.btn-large,
.btn-small,
.btn-flat {
   border-radius: 4px;
   font-weight: 500;
}

.card:hover {
   box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.18);
}

.card {
   border-radius: 6px;
   box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}









</style>


<div class="section">
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="pl50 pr30">
            <div class="col xl12 l12 m12 s12">
                <div class="card">
                    <div class="card-content">


                        <h5 class="step-title server-host-title waves-effect waves-dark">
                            Add FAQ
                        </h5>
                        <div>

                            {% form form=faq_category_form %}{% endform %}


                            {% form form=faq_form %}{% endform %}


                            <button class="waves-effect waves-dark btn green darken-1 right"
                                    type="submit"> Submit
                            </button>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('select').formSelect();
});

function anyThing(destroyFeedback) {
  setTimeout(function(){ destroyFeedback(true); }, 1500);
}

function noThing(destroyFeedback) {
  setTimeout(function(){ destroyFeedback(true); }, 10000);
}

var stepperDiv = document.querySelector('.stepper');
console.log(stepperDiv);
var stepper = new MStepper(stepperDiv);



</script>

{% endblock content %}