<h5 style="font-weight: bold;">Develop content for awareness that will be passed
    on to the Communications team to design and produce brochures, pull-out banners,
    tear drops, etc. Use infographics, images, etc to effectively put across the
    message.</h5>

<p style="font-weight: bold;">Where to report? </p>

<p>www.nita.go.ug/consumerprotection is where you can report online transaction
    scams. Your complaints help consumer protection agencies around the world
    spot trends and work together to prevent international scams.</p>

<p style="font-weight: bold;">Are you disappointed by a product or service you have paid for? </p>

<em>Return to the Provider/Supplier </em>

<p>
    You can solve many consumer problems by calling the Supplier, or if you bought the
    item online, by returning to the website. Do this as soon as possible because some
    retailers have time limits on returns and refunds. With each person, calmly and
    accurately explain the problem and what you would like them to do. Keep a record of
    your conversations — who you spoke with and when, and what action they promised.
</p>

<em>Return to the Provider/Supplier </em>

<p> If a call does not work, use these tips to draft an effective complaint:</p>

<ul>

    <li> Be clear and concise. Describe the item you bought and the problem,
        include serial or model numbers, and the name and location of the seller.</li>

    <li> State exactly what you want done and how long you are willing to wait
        for a response. Be reasonable.</li>

    <li> Do not write an angry, sarcastic, or threatening letter. The person
        reading your letter probably is not responsible for the problem, but may
        be very helpful in resolving it.</li>

    <li> Include copies of relevant documents, like receipts, repair orders,
         and warranties. Keep the originals.</li>

    <li> Provide your name, address, and phone numbers. If an account is involved,
        be sure to include the account number.</li>

</ul>

<p>You may want to send your letter by certified mail and request a return receipt.
    You will have proof that the company got your letter and who signed for it.</p>




<em>Get Assistance </em>

<p>If the letter and follow up bring no results after up to 30days, you may want
    to contact the National Information Technology Authority Uganda (NITA-U)
    at www.nita.go.ug/consumerprotection for help.</p>

<p style="font-weight: bold;">Have you come across a company offering Free Trials? Beware!</p>

<em>Research the company online</em>

<em> Find the terms and conditions for the offer.  </em>

<p>If you cannot find them or cannot understand exactly what you are agreeing to,
    do not sign up. </p>

<em> Look for who is behind the offer  </em>

<p>Just because you are buying something online from one company does not mean the
    offer or pop-up is not from someone else.</p>

<em> Watch out for pre-checked boxes</em>

<p>If you sign up for a free trial online, look for already-checked boxes.
    That checkmark may give the company the go-ahead to continue the offer
    past the free trial - only this time you have to pay.</p>

<em> Mark your calendar </em>

<p>Your free trial probably has a time limit. Once it passes without you
    telling the company to cancel your "order," you may be on the hook
    for more products.</p>

<em> Look for information on how you can cancel future shipments or services. </em>

<p style="font-weight: bold;"><p style="font-weight: bold;">Have you come across a
    company offering Free Trials? Beware!</p></p>

<p>If you receive emails claiming to be from your bank or internet service
    provider (ISP) asking you to “verify” your ATM card or bank account number,
    they are most likely fraudsters phishing for your information. Never give out
    your personal information in response to an email. </p>

<p>When in doubt, check it out by calling the company directly. </p>

<p>Visit www.nita.go.ug/consumerprotection to learn more.</p>




