<h5 style="font-weight: bold;">Advisory on issues that affect the consumer i.e online
    safety tips, common scams to avoid, cyber offences, online etiquette, etc</h5>

<p style="font-weight: bold;">1. Where to report. </p>

<p>Report online scams to www.nita.go.ug. Your complaints help NITA-U and consumer
    protection agencies around the world spot trends and work together to prevent
    international scams.</p>

<p style="font-weight: bold;">2. Recognise imposters. </p>

<p>Scammers often pretend to be someone you trust, for instance; a family member,
    a celebrity, government official, a charity, or a company you do business with.
    The message could be in form of a text, a phone call, or an email.  Don’t send
    money or give out personal information in response to an unexpected request.</p>

<p style="font-weight: bold;">3. Conduct online searches. </p>

<p> Type a company or product name into your favorite search engine with words like
    “review,” “complaint”, “fraud” or “scam.” You can even search for phone numbers
    to see if other people have reported them as scams.</p>

<p style="font-weight: bold;">4. Don’t believe your caller ID. </p>

<p>Technology makes it easy for scammers to fake caller ID information, so the name
    and number you see are not always real. If someone calls asking for money or
    personal information, hang up. If you think the caller might be telling the truth,
    call back to a number you know is genuine. </p>

<p style="font-weight: bold;">5. Do not pay in advance for a promise. </p>

<p>Someone might ask you to pay in advance for things like loan offers, mortgage
    assistance, clearance of a debt, a job or visa. They might even say you have
    won a prize, but first you have to pay taxes or fees. If you do, they will
    probably take the money and disappear. </p>

<p style="font-weight: bold;">6. Consider how you pay. </p>

<p>Credit cards have significant fraud protection built in, but some payment methods don’t.
    Wiring money through services like Western Union or MoneyGram also increase your risk
    as it is nearly impossible to get your money back if they made the payment in accordance
    with your instructions. That is also true for reloadable cards and gift cards. </p>

<p style="font-weight: bold;">7. Consult another. </p>

<p>Before you give up your money or personal information, talk to someone you trust.
    Con artists want you to make decisions in a hurry. They might even threaten you.
    Slow down, check out the story, conduct an online search, consult an expert, or just
    tell a friend.</p>

<p style="font-weight: bold;">8. Be skeptical about free trial offers. </p>

<p>Some companies use free trials to sign you up for products and bill you every
    month until you cancel. Before you agree to a free trial, research the company
    and read the cancellation policy. And always review your monthly statements for
    charges you don’t recognize.</p>
